import javax.swing.*; // Packages used
import java.awt.*;
import java.awt.event.*;
import java.io.*;
import java.util.Vector;
import javax.swing.JScrollBar;
import java.awt.Scrollbar;


public class CarGUI extends JFrame implements ActionListener
{
//Global Variable Declarations
// Our list input fields
		private JLabel firstListLabel = new JLabel("Name:");
		private JTextField firstListField = new JTextField(25);
		private JLabel secondListLabel = new JLabel("Type:");
		private JTextField secondListField = new JTextField(25);
		private JLabel thirdListLabel = new JLabel("Year:");
		private JTextField thirdListField = new JTextField(25);
		private JLabel fourthListLabel = new JLabel ("Speed");
       		 private JScrollBar speedSB = new JScrollBar(JScrollBar.VERTICAL, 0,1,0,100); 
//Create label and button
		private JLabel createLabel = new JLabel("");
		private JLabel filler = new JLabel();
		private JButton createButton = new JButton("Create");
		private JScrollPane displayScrollPane;
		private JTextArea display = new JTextArea(10,20);
		private JScrollPane displayScrollPane2;
		private JTextArea display2 = new JTextArea(10,20);
//Create Playback Button
		private JButton PlaybackButton = new JButton("Playback");
// Declare our BufferedReaders for reading the car input files
		private BufferedReader carIn;
// Declare our FileWriter, which will create our difference file
		private FileWriter outCar;

public static void main(String args[])
{
   	CarGUI f = new CarGUI();
    f.setSize(600,500);
    f.setVisible(true);
    f.addWindowListener(new WindowAdapter()
    {      // Quit the application
         public void windowClosing(WindowEvent e)
         {
         	System.exit(0);
       	 }
    });
 }
//Constructor
	public CarGUI()
	{
		super("CAR SEARCH");
		getContentPane().setLayout( new BorderLayout() );
//Create our input panel
JPanel inputPanel = new JPanel(new GridLayout(2,4));
firstListLabel.setHorizontalAlignment (SwingConstants.CENTER);//Centering Name Label
inputPanel.add(firstListLabel);
secondListLabel.setHorizontalAlignment (SwingConstants.CENTER);//Centering Type Label
inputPanel.add(secondListLabel);
thirdListLabel.setHorizontalAlignment (SwingConstants.CENTER);//Centering Year Label inputPanel.add(thirdListLabel);
fourthListLabel.setHorizontalAlignment (SwingConstants.CENTER);//Centering Speed Label
inputPanel.add(fourthListLabel);
		inputPanel.add(firstListField);
		inputPanel.add(secondListField);
		inputPanel.add(thirdListField);
		getContentPane().add(inputPanel,"North");
//Create and populate our createPanel
		JPanel createPanel = new JPanel(new GridLayout(1,1,4,1));
		createPanel.add(createLabel);
		createPanel.add(filler);
		createPanel.add(createButton);
		getContentPane().add(createPanel, "South");
		createButton.addActionListener(this);
//JPanel createPanel = new JPanel(new GridLayout(1,1,4,1));
		createPanel.add(PlaybackButton);
		getContentPane().add(createPanel, "South");
     		PlaybackButton.addActionListener(this); //Activate the Playback button
//configure our ScrollPane to contain our display
		displayScrollPane = new JScrollPane(display);
		getContentPane().add(displayScrollPane, "Center");
		display.setLineWrap( true );
		display.setEditable( false );
//JPanel speedPanel = new JPanel(new GridLayout(2,1,1,1));
		JPanel speedPanel = new JPanel(new BorderLayout());
		speedPanel.add(fourthListLabel, "North");
		speedPanel.add(speedSB, "Center");
		getContentPane().add(speedPanel, "East");

//Scrollbar for Speed
		JScrollBar sb = new JScrollBar (Scrollbar.VERTICAL, 0,1,0,100);
}
public void actionPerformed (ActionEvent ae)//action Performed
	{//beginning of actionPerformed
		if (ae.getSource() == createButton)
			{//beginning of if
				String name = firstListField.getText ();
				String type = secondListField.getText ();
				String year = thirdListField.getText ();
				int speed  = speedSB.getValue ();
Car c = new Car(name, type, year, speed);
				display.append(c.getMessage());
				try
				{//begin of try
							outCar = new FileWriter("car.csv",true);
							outCar.write (c.getMessage());
							outCar.close();
				}//end of try
				catch (IOException ioe)
				{
					display.setText(ioe.getMessage());
				}
				if (ae.getSource() == PlaybackButton)
				{//begin of if
					try
					{//begin of try
					carIn = new BufferedReader(new FileReader("car.csv"));
					String lineFirst = carIn.readLine();
					while (lineFirst != null)
					{//begin of while
					display.append(lineFirst + "\n");
					lineFirst = carIn.readLine();
					}//end of while
					}//end o try
				catch (IOException ioe)
					{//begin of catch
						display.setText(ioe.getMessage());
					}//end of catch
			   	}//end of if
		}//end of if
} // end actionPerformed
}//end class

// ECET 3810
// Laboratory 10 and 11
// Author By: Jeramie Slocombe
// Due Date: 4/23/2015

public class Car
{
	private String name;
	private String type;
	private String year;
	private int speed;

	public Car(String n, String t,String y, int s)
	{
		name = n;
		type = t;
		year = y;
		speed = s;
	}
	public String getMessage()
	{
		return "The car name is "+name+"." +"  The car's type is "+type+"."+"  The car's year is "+year+"."+"  The car's speed is "+speed+".\n";
	}
}//end of class
